@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi and welcome to the application that can be used by a library.</p>
    <p>We have everything needed for a smooth usage, such as authors, books, members and even loans.</p>
</div>
